div.wbsH1{
margin: 8px 0px 8px 15px;
font-family: arial;
font-size: 14pt;
}

div.wbsH2{
margin: 8px 0px 8px 15px;
font-family: arial;
font-size: 14pt;
}

div.wbsact{
margin: 8px 0px 8px 15px;
font-family: arial;
font-size: 12pt;
}

div.wbsact2{
margin: 10px 0px 8px 40px;
font-family: arial;
font-size: 14pt;
}

table.SPT{
width: 90%;
margin: 20px 0px 0px 20px;
}

td.SPT{
border-style: solid;
border-width: 1px;
border-color: #000000;
padding: 5px;
}

td.SPTC1{
font-size: 11pt;
text-align: right;
}

td.SPTC2{
font-size: 10pt;
text-align: right;
}

td.SPTC3{
font-size: 10pt;
text-align: right;
}

td.SPTC4{
font-size: 10pt;
text-align: right;
}

td.SPTC5{
font-size: 10pt;
text-align: right;
}

td.SPTC6{
font-size: 10pt;
text-align: right;
}

td.SPTC7{
font-size: 10pt;
text-align: right;
}

td.SPTC8{
font-size: 10pt;
text-align: right;
}

td.SPTC9{
font-size: 10pt;
text-align: right;
}

td.SPTC10{
font-size: 10pt;
text-align: right;
}

td.SPTC11{
font-size: 10pt;
text-align: right;
}

td.SPTC12{
font-size: 10pt;
text-align: right;
}

td.SPTC13{
font-size: 10pt;
text-align: right;
}

td.SPTC14{
font-size: 10pt;
text-align: right;
}

td.SPTC15{
font-size: 10pt;
text-align: right;
}

td.SPTC16{
font-size: 10pt;
text-align: right;
}

td.SPTC17{
font-size: 10pt;
text-align: right;
}

th.SPT{
padding: 3px;
}

th.SPTC1{
font-size: 12pt;
width: 12%;
}

th.SPTC2{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC3{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC4{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC5{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC6{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC7{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC8{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC9{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC10{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC11{
font-size: 12pt;
width: 5%;
text-align: right;
}

th.SPTC12{
font-size: 12pt;
width: 5%;
text-align: right;
}

td.PNT1{
padding: 4px;
font-size: 10pt;
}

td.PNT2{
padding: 4px;
font-size: 10pt;
}

td.PNT3{
padding: 4px;
font-size: 10pt;
}

td.PNT4{
padding: 4px;
font-size: 10pt;
}

td.PNT5{
padding: 4px;
font-size: 10pt;
background-color: #dddddd;
}



div.CatalogueViewDivisionsTable{
display: none;
}

div.CatalogueViewText{
display: none;
border-color: #469de1;
border-width: 2px;
border-style: solid;
padding: 5px;
color: #469de1;
margin: 0px 0px 20px 0px;
font-family: Arial;
font-size: 12pt;
background-color: #dfdfdf;
}

[draggable=True] {cursor: move;}

div.viewtext{
display: none;}

table.CatalogueView{
width: 100%;
margin: 0px;
border-width: 0px;
border-style: none;
}

td.CatalogueView{
color: #ffffff;
margin: 0px;
border-width: 0px;
border-style: none;
padding: 0px;
}

button.CatalogueViewButton{
width: 100%;
background-color: #555555;
color: #ffffff;
font-size: 14pt;
font-weight: bold;
border: 0px;
margin: 0px;
padding: 10px 0px 0px 0px;
border-radius: 8px 10px 0px 0px;
}

div.catdivisionbody{
display: block;
}

div.catdivisioncategories{
display: none;
margin: 5px 0px 0px 0px;
}

div.testcatdivisioncategories{
display: none;
margin: 5px 0px 0px 0px;
}

td.bundledocs1{
width: 30%;
margin: 0px 0px 0px 0px;
}

td.bundledocs2{
width: 70%;
}

div.bundledoc{
font-size: 12pt;
margin: 5px;
}



table.BundleDocs {
width: 100%;
font-family: arial;
border-collapse: collapse;
display: none;
margin: 0px 0px 0px 0px;
padding: 5px;
}

td.PriceTableCUST{
text-align: center;
}


div.PTTitle{
font-size: 16pt;
font-face: arial;
padding: 10px 0px 10px 0px;
font-weight: bold;
}

div.PTH1{
font-size: 14pt;
font-face: arial;
padding: 10px 0px 10px 0px;
font-weight: bold;
width: 100%;
background-color: 88aa99;
margin: 10px 0px 0px 0px;
}

div.PTH2{
font-size: 14pt;
font-face: arial;
padding: 10px 0px 10px 0px;
font-weight: bold;
width: 100%;
background-color: aa8800;
margin: 10px 0px 0px 0px;
}

td.PTH3{
padding: 5px 0px 0px 0px;
font-weight: bold;
}

th.PTH3{
padding: 5px 0px 0px 0px;
font-weight: bold;}

td.PTH4{
padding: 5px 0px 0px 0px;
font-weight: bold;
}

td.PTFTE{
padding: 5px 0px 5px 0px;
font-weight: bold;
}


div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
div.tabcontent{
transition: 5s;
}


div.tab button {
background-color: #ffffff;
float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
div.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

th.steps1{
width: 5%;
}

td.steps1{
text-align: center;
}

th.steps2{
width: 15%;
}

td.steps2{
text-align: left;
padding: 5px 0px 5px 10px;
font-weight: bold;
}

h.steps3{
width: 30%;
}

th.steps4{
width: 10%;
}

td.steps4{
text-align: center;
}

th.steps5{
width: 20%;
}

td.steps5{
text-align: left;
line-height: 1.5;
font-size: 10pt;
padding: 5px 0px 5px 5px;
}

th.steps6{
width: 10%;
}

td.steps6{
text-align: center;
}

button {
	cursor: pointer;
}
td.PricingTableSH {
	font-weight: bold;
	padding: 0px 0px 20px 0px
}
td.PricingTableSSH {
	font-weight: bold;
}
td.PricingTableC1 {}td.PricingTableC2 {
	text-align: center
}
td.PricingTableC3 {
	text-align: center
}
td.PricingTableC4 {
	text-align: center
}
div.PricingTableHeader {
	width: 100%;
	text-align: center;
	font-family: arial;
	font-size: 14pt;
	padding: 0px 0px 20px 0px
}
tr.PricingTableHeaderRow {
	width: 100%;
	text-align: center;
	font-family: arial;
	font-size: 14pt;
	padding: 0px 0px 20px 0px;
	font-weight: bold
}
tr.PricingTableSH {
	width: 100%;
	text-align: center;
	font-family: arial;
	font-size: 14pt;
	padding: 0px 0px 20px 0px;
	font-weight: bold
}
tr.PricingTable {
	width: 100%;
	text-align: center;
	font-family: arial;
	font-size: 14pt;
	padding: 0px 0px 20px 0px;
	font-weight: bold
}
tr.PricingTableSeparator {
	font-size: 12pt;
	border-color: #fff;
	height: 20px
}
tr.PricingTableFooter {
	font-size: 9pt;
	border-color: #fff;
	height: 20px
}
td.PricingTable {
	font-size: 12pt;
	border-color: #555
}
th.PricingTable {
	font-size: 9pt;
	border-color: #555;
	background-color: #47ffc9
}
td.PricingTable1 {
	font-size: 9pt;
	border-color: #555;
	background-color: #00a0f1
}
th.PricingTable2 {
	background-color: #47ffc9
}
td.PricingTable2 {
	background-color: #47ffc9
}
th.PricingTable1 {
	background-color: #00a0f1
}
th.PricingTable3 {
	background-color: #ff83d8
}
td.PricingTable3 {
	background-color: #ff83d8
}
table.PricingTable {
	font-size: 12pt;
	border-color: #fff;
	width: 100%
}
table.PricingTable1 {}
table.ProductIDs {
	width: 100%;
}

div.Invoicing {
	margin: 0px 0px 0px 5px;
	display: block;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	padding: 2px 0px 2px 0px;
	float: right;
}

div.Invoicing2 {
	margin: 0px 0px 0px 5px;
	display: block;
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	padding: 2px 0px 2px 0px;
	float: right;
	font-style: italic;
}

table.ProductID {
	font-size: 9pt;
	border-color: #fff;
	width: 100%
}
td.ProductID {
	font-size: 9pt;
	border-color: #fff;
	text-align: left
}

td.ProductID2 {
	font-size: 10 px;
	border-color: #fff;
	text-align: left
        font-style: italic;
}

button.expandtext {
	font-weight: bold;
	color: #0000ff;
	border-style: none;
	background-color: #fff;
	font-size: 12px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
button.shrinktext {
	font-weight: bold;
	color: #0000ff;
	border-style: none;
	background-color: #fff;
	font-size: 12px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
div.shortdescription {}div.longdescription {
	display: none
}
span.replacement {
	font-size: 11pt;
	color: #900;
	font-weight: bold
}
table.Steps {
	width: 100%
}
div.LogoPane {
	display: none
}
table.prodincl {
	width: 50%
}
table.sowtable {
	width: 100%
}
td.SOWActivity1 {
	padding: 5px 0px 5px 30px;
	width: 20%;
	font-size: 10pt;
	border-color: #fff;
	font-weight: bold
}
td.SOWActivity2 {
	padding: 5px 0px 5px 5px;
	width: 80%;
	font-size: 10pt;
	border-color: #fff
}
div.wbsPhases {
	width: 45%;
	float: left
}
table.wbsPhases {
	width: 100%;
	overlap: hidden
}
table.wbsRoles {
	width: 100%
}
td.wbsDropDown21 {
	background-color: #4d4d4d;
	border-color: #4d4d4d;
	color: #fff
}
td.wbsDropDown22 {
	background-color: #4d4d4d;
	border-color: #4d4d4d;
	color: #fff
}

div.wbsRoles {
	width: 50%;
margin: 20px 0px 20px 0px;
}

th.wbsroles1{}

th.wbsroles2{
text-align: center;
}

td.wbsroles1{
padding: 3px 5px 3px 5px;
}

td.wbsroles2{
text-align: center;
padding: 3px 0px 3px 2px;
}



div.wbsActivities {
	overflow: hidden;
	clear: both
}
button.wbsView {
	width: 30%;
	margin: 0px 1.1% 0px 1%
}
button.ServiceLink {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color: #0000ee;
	font-size: 14px;
	text-decoration: none;
	border: none;
	background-color: none;
	text-align: left;
	background-color: transparent;
}
body.global {
	margin: 0px
}
body.globaldd {
	margin: 0px
}
td.DirActivities1 {
	padding: 3px 0px 3px 2px
}
td.DirActivities2 {
	padding: 3px 0px 3px 2px
}
td.DirActivities3 {
	padding: 3px 0px 3px 2px;
	font-size: 10pt
}
td.DirActivities4 {
	padding: 3px 0px 3px 2px;
	text-align: center
}
td.DirActivities5 {
	padding: 3px 0px 3px 2px;
	text-align: center
}
td.DirActivities6 {
	padding: 3px 0px 3px 2px;
	text-align: center
}
td.wbsPhases1 {
	padding: 3px 0px 3px 2px
}
td.wbsPhases1 {
	padding: 3px 0px 3px 2px
}
td.wbsActivities2 {
	padding: 3px 0px 3px 2px
}
td.wbsActivities3 {
	padding: 3px 0px 3px 2px;
	font-size: 10pt
}
td.wbsActivities4 {
	padding: 3px 0px 3px 2px
}
td.wbsActivities6 {
	padding: 3px 0px 3px 2px;
	text-align: center
}
div.WBSActivities {
	width: 100%
}
table.WBSActivities {
	width: 100%
}
table.WBSHidden {
	width: 100%;
	display: none
}
div.WBSTitle {
	text-align: center;
	background-color: #fff;
	font-family: arial;
	font-size: 14pt;
	padding: 5px 0px 5px 0px
}
td.componentpricingtable {
	text-align: center;
	border-color: #bbb
}
td.packages1 {
	font-size: 10pt;
	font-weight: bold;
	width: 30%;
	padding: 5px 0px 5px 5px;
	border-color: #bbb
}
div.packages1 {
	font-size: 10pt;
	font-weight: bold;
	width: 100%;
	margin: 0px 0px 5px 0px;
	border-color: #bbb
}
td.packages2 {
	font-size: 10pt;
	width: 40%;
	border-color: #bbb;
}
td.packages3 {
	text-align: center;
	width: 10%;
        font-size: 8pt;
	border-color: #bbbbbb;
}

td.packages4 {
	text-align: center;
	width: 10%;
	border-color: #bbb;
text-align: right;
}

td.packages5 {
	font-size: 10pt;
	width: 10%;
	padding: 0px 0px 0px 5px;
	border-color: #bbb;
text-align: right;
}

table.ProdIncl {
	display: none
}
span.majornote {
	color: #905
}
span.catdivisionhead {
	font-weight: bold;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	margin: 0px;
	display: inline-block;
}
span.catdivisiondescription1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0px 0px 0px 0px;
}
span.catdivisiondescription1 + br {
	display: none;
}
div.catdivisiondescription2 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0px 0px 0px 5px;
	display: inline;
}
div.catdivisiondescription2 + div.H1 {
	margin-top: 13px;
}
div.catdivision {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0px;
	border: 0px;
	border-top: solid 2px #469ee1;
	background-color: #fff;
	padding: 9px 0px 17px 0px;
}
div.catdivision a {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	text-decoration: none;
}
div.catdivision a:hover,
div.catdivision a:focus {
	text-decoration: underline;
}
span.component1 {
	font-size: 9pt;
	font-style: italic;
	font-weight: normal
}
a.componentdocument:link {
	font-size: 9pt;
	text-decoration: none;
	color: #000
}
div.componentdocument {
	background-color: #eef5fb;
	border-radius: 3px;
	border: none;
	text-align: center;
	padding: 3px 7px;
}
td.componentdocuments {
	font-size: 10pt;
	text-align: left;
	border-color: #bbb;
	border-width: 0px 0px 1px 0px
}
div.langbox1 {
	width: 15%;
	float: left;
	overflow: hidden;
	clear: left;
	height: 25px
}
td.sware {
	color: #500;
	font-weight: bold
}
td.service {
	color: #555;
	font-weight: bold
}
div.langbox2 {
	width: 30%;
	overflow: hidden;
	clear: right;
	height: 25px;
	padding: 1px 0px 0px 0px
}
img.LangStar {
	width: 18px;
	padding: 1px 0px 0px 0px
}
td.bundletable1 {
	border-color: #fff;
	font-size: 10pt;
	padding: 5px 10px 0px 10px;
	width: 20%
}
td.bundletable2 {
	border-color: #fff;
	font-size: 10pt;
	padding: 5px 10px 0px 10px;
	width: 50%
}
td.bundletable3 {
	border-color: #fff;
	font-size: 10pt;
	padding: 5px 10px 0px 10px
}
td.RegionData {
	display: none
}
div.RegionalComponentFilters span.APACBlock,
div.RegionalComponentFilters span.EuropeBlock,
div.RegionalComponentFilters span.LACBlock,
div.RegionalComponentFilters span.RMEABlock,
div.RegionalComponentFilters span.USCABlock {
	width: 12px;
	height: 18px;
}
span.APACBlock,
span.EuropeBlock,
span.LACBlock,
span.RMEABlock,
span.USCABlock {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	display: inline-block;
	margin: 0px 0px 0px 3px;
	padding: 0px;
}
tr.ComponentDataRow span.APACBlock,
tr.ComponentDataRow span.EuropeBlock,
tr.ComponentDataRow span.LACBlock,
tr.ComponentDataRow span.RMEABlock,
tr.ComponentDataRow span.USCABlock {
	padding: 4px 6px;
	margin: 0px 3px 0px 0px;
}
span.APACBlock {
	color: #fff;
	background-color: #800;
}
span.EuropeBlock {
	color: #000;
	background-color: #bbb700;
}
span.LACBlock {
	color: #000;
	background-color: #080;
}
span.RMEABlock {
	color: #000;
	background-color: #088;
}
span.USCABlock {
	color: #fff;
	background-color: #008;
}
span.regionalcomponentfilters1 {
	font-weight: normal;
	font-size: 14px;
	color: #595959;
	margin-right: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
div.regionalcomponentfilters {
	background-color: transparent;
	color: #595959;
	border: none;
	padding: 0px 0px 20px 11px;
}
button.RegionalComponentFilters {
	border: solid 1px #e6e6e6;
	border-radius: 0px;
	margin: 0px 7px 0px 0px;
	padding: 0px 0px 0px 6px;
	font-weight: normal;
	font-size: 12px;
	color: #595959;
	cursor: pointer;
	box-sizing: border-box;
	display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
	-webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
button.RegionalComponentFilters[onclick="Reset();"] {
	height: 24px;
	padding: 0px 9px;
}
span.hidden {
	color: #fff
}
button.regionfilter {
	display: none;
	color: #777
}
td.SPILQual {
	background-color: #bcf;
	border-color: #bcf
}
table.TemplatesTable {
	width: 100%
}
td.template1 {
	width: 20%
}
td.template2 {
	width: 10%
}
td.template3 {
	width: 70%
}
td.SPILPhaseDoc {
	border-color: #fff
}
div.SPILBody1 {
	position: relative;
	background-color: #def;
	opacity: 0.8;
	text-align: left;
	border-radius: 0px 0px 10px 10px;
	margin: 0px 0px 10px 0px;
	font-family: arial;
	font-size: 12pt;
	padding: 1px 1px 1px 2px;
	width: 100%
}
td.SPILKey {
	border-color: #d1d2d5;
	font-weight: bold;
	margin: 3px 0px 3px 0px
}
td.SPILKey1 {
	background-color: #d1d2d5;
	width: 120px
}
td.SPILKey2 {
	background-color: #d1d2d5;
	width: 80px
}
div.SPILKey {
	width: 15%;
	float: left;
	margin: 5px 0px 0px 20px
}
a.MailRequest:link {
	font-size: 12pt;
	text-decoration: none;
	color: #000
}
div.MailRequest {
	background-color: #ccc;
	z-index: 0;
	border-style: none;
	text-align: center
}
TD.B2Catalogue1 {
		
	border: none;
	vertical-align: middle;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #595959;
	padding: 9px 10px 9px 17px;
	width: 8%;
	border-color: #bbb;
	vertical-align: middle;
}

TD.B2Catalogue2 {
	width: 26%;
	border: none;
	vertical-align: middle;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color: #0000ee;
	font-size: 14px;
	padding: 7px 8px;
	text-align: left;
	background-color: #eef5fb;
}
TD.B2Catalogue3 {
	width: 52%;
	border: none;
	vertical-align: middle;
	font-family: arial;
	font-size: 12px;
	padding: 5px;
	text-align: left;
}
TD.B2Catalogue4 {
	width: 10%;
	border-style: solid;
	border-width: 4px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 14px;
	padding: 1px;
	background-color: #ccc
}
div.SPILH11 {
	background-color: #ddd;
	text-align: left;
	padding: 0px;
	border-radius: 0px;
	margin: 10px 0px 0px 0px;
	font-family: arial;
	font-size: 20px;
	display: inline;
	overflow: hidden
}
TD.B2Catalogue5 {
	width: 10%;
	border-style: solid;
	border-width: 4px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 14px;
	padding: 1px;
	background-color: #ccc
}
td.SPILDropDown21 {
	width: 20%;
	border-style: transparent;
	background-color: #ddd;
	border-color: #000;
	font-size: 14pt
}
td.SPILDropDown22 {
	width: 80%;
	border-style: transparent;
	background-color: #ddd;
	border-color: #000;
	font-size: 10pt
}
table.SPILDropDown2 {
	width: 100%;
	border-style: transparent;
	background-color: #cdf;
	border-color: #cdf
}
td.SPILDeliverable {
	background-color: #ffd700;
	border-color: #ffd700
}
td.SPILActivity {
	background-color: #fff;
	border-color: #ff7f41
}
td.SPILBuscase {
	background-color: #bef;
	border-color: #ff7f41
}
td.SPILDecision {
	background-color: #36d;
	border-color: #36d;
	color: #fff
}
table.SPIL {
	width: 100%;
	display: none
}
td.SPIL1 {
	width: 20%;
	font-weight: bold
}
td.SPIL2 {
	width: 30%;
	font-size: 11pt
}
td.SPIL3 {
	width: 50%;
	font-size: 9pt;
	line-height: 150%
}
span.SPILrole {
	font-weight: bold
}
td.PSB1 {
	width: 5%;
	font-size: 11pt
}
td.PSB2 {
	width: 30%
}
td.PSB3 {
	width: 50%;
	font-size: 11pt
}
td.PSB4 {
	width: 10%;
	font-size: 11pt
}
div.inplan {
	display: none;
}
div.indev {
	display: block;
}
tr.design {
	display: none;
	color: #f00
}
tr.indev {
	display: block;
	color: #f00
}
tr.inplan {
	display: none;
	color: #f00
}

TD.indev1 {
	width: 8%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 16px;
	background-color: #fee
}
TD.indev2 {
	width: 8%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 16px;
	padding: 3px;
	background-color: #fee
}
TD.indev3 {
	width: 18%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 14px;
	padding: 5px;
	background-color: #fee
}
TD.indev4 {
	width: 70%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 14px;
	padding: 5px;
	background-color: #fee
}
tr.inplan {
	display: none;
	color: #ee8000
}
TD.inplan1 {
	width: 8%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 16px;
	background-color: #fff0bb
}
TD.inplan2 {
	width: 4%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 16px;
	padding: 3px;
	background-color: #fff0bb
}
TD.inplan3 {
	width: 18%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 14px;
	padding: 5px;
	background-color: #fff0bb
}
TD.inplan4 {
	width: 70%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 14px;
	padding: 5px;
	background-color: #fff0bb
}
div.SOWLIH {
	font-weight: bold;
	margin: 15px 0px 10px 0px
}
div.SOWLI {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 20px
}
p.SOWLI {
	margin-left: 20px
}
p.SOWLIH {
	font-weight: bold
}
td.learn {
	background-color: blue
}
body {
	background-color: #fff;
	margin: 0px;
	padding: 17px 30px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body.testglobal {
	padding: 0px 30px;
}
@font-face {
	font-family: StandardBBPrint;
	src: url(merriweather/Merriweather-Regular.ttf);
}
@font-face{
	font-family: StandardBBWeb;
	src: url(OpenSans/OpenSans-Regular.ttf);
}
@font-face{
	font-family: StandardBBWebLightItalic;
	src: url(OpenSans/OpenSans-LightItalic.ttf);
}
input#keywordform {
	width: 205px;
	height: 32px;
	margin: 0px;
	padding: 0px 10px;
	box-sizing: border-box;
	border-top: solid 1px #469ee1;
	border-bottom: solid 1px #469ee1;
	border-left: solid 1px #469ee1;
	border-right: 0px;
}
div.SearchBox button {
	width: auto;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1;
	background: #eef5fb;
	border-radius: 3px;
	padding: 9px 12px;
	margin: 0px 6px 0px 0px;
	border: none;
	cursor: pointer;
}
div.SearchBox button:last-child {
	margin: 0px;
}
div.SearchBox button.FilterSelectButton {
	padding: 6px 12px;
	font-weight: 400;
	color: #000 !important;
}
div.SearchBox button.keyword {
	width: auto;
	border: solid 1px #469ee1;
	padding: 11px 12px;
}
button.plus {
	width: 23px;
	height: 23px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1;
	padding: 1px 3px 0px 3px;
	font-weight: bold;
	color: #595959;
	margin: 0px 12px 0px 0px;
	background: #e6e6e6;
	border: 0px;
	border-radius: 3px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	cursor: pointer;
}
body.testglobal button.plus {
	margin: 0px 3px 0px -6px;
}
button.PlatformFilter {
	display: none
}
button.PlatformFilters {

}

button.ClearPlatformFilters {
	display: none
}
button.minus {
	width: 23px;
	height: 23px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1;
	padding: 1px 3px 0px 3px;
	font-weight: bold;
	color: #595959;
	margin: 0px 12px 0px 0px;
	background: #e6e6e6;
	border: 0px;
	border-radius: 3px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	cursor: pointer;
}
body.testglobal button.minus {
	margin: 0px 7px 0px -10px;
}
#ServiceComponentsMinus {
	margin: 0px 16px 0px -4px;
}
div.DirB1 {
	background-color: #dfe;
	opacity: 0.8;
	text-align: left;
	padding: 5px;
	border-radius: 0px;
	margin: 0px 0px 0px 0px;
	font-family: arial;
	font-size: 16px;
	padding: 10px 5px 10px 5px;
	clear: left
}
div.DirB10 {
	background-color: #dfe;
	opacity: 0.8;
	text-align: left;
	border-radius: 0px;
	margin: 0px 0px 20px 0px;
	font-family: arial;
	font-size: 16px;
	padding: 10px 0px 10px 0px;
	overflow: visible;
	float: left;
	width: 100%
}
div.B10 {
	background-color: #efd;
	opacity: 0.8;
	text-align: left;
	border-radius: 0px;
	margin: 0px 0px 20px 0px;
	font-family: arial;
	font-size: 16px;
	padding: 10px 0px 10px 0px;
	overflow: visible;
	float: left;
	width: 100%
}
div.Dirb11 {
	margin: 10px
}
div.b11 {
	margin: 10px
}
div.B2 {
	position: relative;
	z-index: 3;
	background-color: #def;
	opacity: 0.8;
	text-align: left;
	padding: 5px;
	border-radius: 0px;
	margin: 0px 0px 20px 0px;
	font-family: arial;
	font-size: 16px;
	padding: 10px 5px 10px 5px;
	clear: left
}
div.DirB20 {
	position: relative;
	background-color: #0c9;
	opacity: 1;
	text-align: left;
	padding: 2px;
	border-radius: 0px;
	margin: 2px 0px 2px 0px;
	font-family: arial;
	font-size: 14pt;
	clear: left
}
div.H2 {
	background-color: #def;
	text-align: left;
	padding: 0px 5px 5px 0px;
	margin: 20px 0px 0px 0px;
	font-family: arial;
	font-size: 18px;
	border-radius: 10px 10px 0px 0px;
	text-decoration: underline
}
div.H20 {
	background-color: #def;
	text-align: left;
	padding: 0px 5px 5px 0px;
	margin: 20px 0px 0px 0px;
	font-family: arial;
	font-size: 18px;
	border-radius: 10px 10px 0px 0px;
	text-decoration: underline
}
div.PageHeader {
	width: 100%;
	background-color: #fff;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	padding: 0px 0px 10px 0px;
	text-align: center;
	font-family: arial;
	font-size: 18pt;
	border-width: 0px
}
div.PageMenu {
	line-height: 30pt;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
	width: 80%;
	float: left;
	font-family: Arial
}
div.PageImage {
	margin: 20px;
	width: 40%;
	float: left
}
div.PHleft {
	background-color: #fff;
	text-align: center;
	font-family: StandardBBWeb;
	font-size: 16pt;
	float: left;
	padding: 0px 0px 0px 0px;
	width: 20%
}
div.PHcentre {
	background-color: #fff;
	height: 75px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Arial;
	font-size: 20pt;
	width: 50%;
	float: left;
	line-height: 75px
}
div.PHright {
	background-color: #fff;
	text-align: right;
	padding: 0px 0px 0px 0px;
	float: left;
	font-family: Arial;
	font-size: 14pt;
	font-style: Italic width: 18%;
	height: 75px;
	line-height: 30px;
	word-wrap: line-break;
	margin: 0px 0px 0px 0px;
	font-color: #555
}
table.ServiceData {
	width: 100%;
	display: none;
	border: none;
	margin: 0px 0px 21px 0px;
}
table.PartnerData {
	width: 100%
}
div.ServiceData {
	margin: 20px 5px 5px 5px;
	width: 98%
}
div.PartnerData {
	margin: 20px 5px 5px 5px;
	width: 98%
}
td.ServiceDataTitle {
	width: 9%;
	font-size: 14px;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px #eef5fb;
	font-weight: bold;
	color: #000;
	padding: 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
td.ServiceDataValue {
	width: 30%;
	border: none;
	border-bottom: solid 1px #eef5fb;
	font-size: 14px;
	font-weight: normal;
	padding: 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
td.PartnerDataTitle {
	width: 25%;
	background-color: #eee;
	border-color: #000;
	font-weight: bold
}
td.PartnerDataValue {
	width: 25%;
	border-color: #000;
	font-size: 11pt;
	line-height: 1.5
}
table#ServiceComponents th {
	border: solid 1px #469ee1;
	padding: 4px 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #000;
}
img.logo {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin: 5px 30px 5px 10px
}
TD.ClickHere {
	width: 100px;
	text-align: center
}
div.SearchBox {
	margin: 0px;
	background-color: #fff;
	padding: 0px 0px 20px 0px;
	text-align: center;
}

table.IndexPage {
	width: 100%;
	table-layout: fixed;
	opacity: 1;
	background-color: #def
}
img.IndexPageImage {
	width: 400px;
	border-radius: 10px
}
th.hosting {
	border-color: #bbb;
	font-size: 12pt;
	width: 8%;
	text-align: center
}
td.hosting {
	font-size: 12px;
	color: #000;
	font-weight: normal;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	border: none;
	border-bottom: solid 1px #469ee1;
}
td.IndexPage1 {
	width: 40%;
	background-color: #efd;
	border-color: #efd
}

button.ProductID {
	font-size: 12px;
	color: #000;
	font-weight: bold;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 2px 2px 2px 2px;
	border-style: none;
	background-color: #eee;
	text-align: left
}

button.ProductID2 {
	font-size: 10px;
	color: #000;
	font-weight: normal;
	font-style: Italic;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 1px 1px 1px 1px;
	border-style: none;
	background-color: #eee;
	text-align: left
}

td.IndexPage2 {
	width: 60%;
	background-color: #efd;
	border-color: #efd
}
TD.Docs1 {
	border: none;
	padding: 5px;
	width: 10%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #0000ee;
}
TD.Docs1 a {
	color: #0000ee;
	text-decoration: none;
font-size: 10pt;
}

TD.Docs1 a:hover,
TD.Docs1 a:focus {
	text-decoration: underline;
}
TD.Docs2 {
	border: none;
	padding: 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: 400;
	width: 8%;
}
TD.Docs3 {
	border: none;
	padding: 5px;
	width: 74%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	font-weight: 400;
}
th.Component {
	border-color: #bbb
}
th.Component1 {
	border-color: #bbb;
	width: 18%
}
th.Component2 {
	border-color: #bbb;
	width: 21%
}
th.Component3 {
	border-color: #bbb;
	width: 6%;
	font-size: 10pt
}
th.Component4 {
	border-color: #bbb;
	width: 9%;
	font-size: 10pt
}
th.Component5 {
	border-color: #bbb;
	width: 15%;
	font-size: 10pt
}
th.Component6 {
	border-color: #bbb;
	width: 5%;
	font-size: 10pt
}
th.Component7 {
	border-color: #bbb;
	width: 5%;
	font-size: 10pt
}
th.Component8 {
	border-color: #bbb;
	width: 5%;
	font-size: 10pt
}
th.Component9 {
	border-color: #bbb;
	width: 10%;
	font-size: 10pt
}
th.Component10 {
	border-color: #bbb;
	width: 6%;
	font-size: 10pt
}
th.Component11 {
	border-color: #bbb;
	width: 9%
}
TH.ProductID {
	border-color: #bbb;
	width: 125px
}
Table.Docs {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	border-collapse: collapse;
	border: none;
	background-color: transparent;
	width: 100%;
	margin: 0px 0px 21px 0px;
}
div.MenuLink1 {
	background-color: #eee;
	font-family: Arial;
	font-size: 18px;
	z-index: 3;
	position: relative;
	margin: 0px 20px -1px 10px;
	opacity: 0.9;
	width: 10%;
	text-align: right;
	border-radius: 10px 10px 0px 0px;
	padding: 1px 15px 3px 15px;
	font-size: 12pt;
	width: 200px;
	text-align: left
}
div.MenuLink2 {
	background-color: #eee;
	font-family: Arial;
	font-size: 16px;
	z-index: 3;
	position: relative;
	margin: 10px 10px 10px 10px;
	opacity: 0.9;
	width: 10%;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	float: left
}
div.MenuLink3 {
	overflow: auto;
	clear: left;
	background-color: #fff;
	font-family: Arial;
	font-size: 16px;
	z-index: 3;
	position: relative;
	margin: 10px 0px 10px 100px;
	opacity: 0.9;
	width: 400px;
	text-align: left;
	border-radius: 10px 10px 10px 10px;
	padding: 5px 15px 5px 15px
}
div.Background {
	position: absolute;
	top: 0;
	opacity: 0.05;
	width: 100%;
	height: 100%
}
div.DirTitle {
	clear: left;
	position: relative;
	top: 0;
	z-index: 2;
	opacity: 1;
	margin: 0 0 20 0;
	width: 100%;
	background-color: #0c9;
	text-align: center;
	padding: 5px 0px 5px 0px;
	border-radius: 0px;
	color: #000;
	font-size: 16pt;
	font-family: Arial
}
div.H1 {
	background-color: #fff;
	color: #595959;
	border: 0px;
	text-align: left;
	padding: 13px 0px 10px 6px;
	border-radius: 0px;
	margin: 0px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	border-top: solid 2px #469ee1;
}
body.testglobal div.H1 {
	border-top: 0px;
	padding: 0px 0px 6px 0px;
}
div.H11 {
	background-color: transparent;
	text-align: left;
	padding: 0px;
	border-radius: 0px;
	margin: 0px 0px 0px 0px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
}
div.DirH11 {
	background-color: #0c9;
	text-align: left;
	padding: 5px;
	border-radius: 0px;
	margin: 20px 0px 0px 0px;
	font-family: arial;
	font-size: 20px
}
div.H12 {
	background-color: #ff7f41;
	text-align: left;
	padding: 5px;
	border-radius: 0px;
	margin: 20px 0px 0px 0px;
	font-family: arial;
	font-size: 20px
}
div.B1 {
	position: relative;
	background-color: transparent;
	color: #009245;
	text-align: left;
	border-radius: 0px;
	margin: 0px 0px 17px 0px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	padding: 7px 6px;
	border: solid 1px #e6e6e6;
}
div.SalesMapOptional {
	background-color: #aaa000;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-radius: 5px;
	margin: 4px auto 4px auto;
	float: center;
	width: 50%
}
div.SalesMapCore {
	background-color: #7090ff;
	text-align: center;
	padding: 10px 0px 10px 0px;
	border-radius: 5px;
	margin: 4px auto 4px auto;
	overflow: hidden;
	width: 60%
}
div.Optional {
	background-color: #aaa000;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
	margin: 8px 10px 8px 10px
}
div.Core {
	background-color: #7090ff;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	margin: 10px 3px 10px 3px;
	overflow: hidden
}
div.Planned {
	background-color: #fa7;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	margin: 10px 15px 10px 15px
}
div.Platform {
	background-color: #ddd;
	text-align: center;
	border-radius: 3px;
	margin: 10px 1px 1px 1px;
	font-family: arial;
	font-size: 14px
}
font.L {
	color: #960
}
font.C {
	color: #0bb000
}
font.A {
	color: #005
}
font.MR {
	color: #089
}
font.Map {
	color: #000;
	font-style: Italic;
	font-size: 17px
}
table.DropDown2 {
	width: 100%;
	border: none;
	border-top: solid 2px #469ee1;
	background-color: transparent;
}
table.DirDropDown2 {
	width: 100%;
	border-style: transparent;
	background-color: #0c9;
	border-color: #cdf
}
table.Directory {
	width: 100%;
	table-layout: fixed;
	border-color: #222
}
table.PriceList {
	width: 100%;
	table-layout: fixed;
	margin: 20px 0px 0px 0px
}
th.PriceList1 {
	width: 10%
}
td.PriceList1 {
	Width: 10%
}
th.PriceList2 {
	width: 40%
}
td.PriceList2 {
	width: 40%
}
th.PriceList3 {
	width: 12%
}
td.PriceList3 {}th.PriceList4 {
	width: 8%
}
td.PriceList4 {
	width: 10%
}
th.PriceList5 {
	width: 8%
}
td.PriceList5 {
	width: 8%
}
th.PriceList6 {
	width: 8%
}
td.PriceList6 {
	width: 10%
}
tr.Directory {
	width: 100%
}
td.directory1 {
	width: 8%;
	border-color: #0c9
}
th.directory1 {
	width: 8%;
	border-color: #0c9;
	color: #0c9
}
td.directory2 {
	width: 20%;
	border-color: #0c9
}
th.directory2 {
	width: 20%;
	border-color: #0c9;
	color: #0c9
}
td.directory3 {
	width: 12%;
	border-color: #0c9
}
th.directory3 {
	width: 12%;
	border-color: #0c9;
	color: #0c9
}
td.directory4 {
	border-color: #0c9
}
th.directory4 {
	border-color: #0c9;
	color: #0c9
}
td.DropDown21 {
	width: 12%;
	border: none;
	background-color: transparent;
	color: #595959;
	padding: 16px 0px 23px;
}
td.DropDown22 {
	width: 80%;
	border: none;
	background-color: transparent;
	color: #595959;
	padding: 16px 0px 23px;
}
td.DirDropDown21 {
	width: 30%;
	font-size: 14pt;
	border-style: transparent;
	background-color: #0c9;
	border-color: #0c9
}
td.DirDropDown22 {
	width: 70%;
	border-style: transparent;
	background-color: #0c9;
	border-color: #0c9
}
TD.TH1 {
	font-size: 18px;
	font-family: arial;
	background-color: cccccc;
	valign: middle;
	text-align: right;
	border-color: #aaa;
	border-width: 1px;
	border-style: solid;
	width: 12%
}
TD.TH2 {
	font-family: Arial;
	font-size: 18px;
	background-color: #ccc;
	valign: middle;
	text-align: center;
	border-color: #aaa;
	border-width: 1px;
	border-style: solid;
	width: 22%;
	opacity: 1
}
A.Map {
	color: #000;
	font-size: 18px;
	font-weight: Normal;
	font-family: Arial;
	text-decoration: none
}
Table.Map {
	border-collapse: collapse;
	background-color: rgb(255, 255, 255, 1);
	border-color: #bbb;
	border-width: 2px;
	width: 100%;
	cell-spacing: 0
}
Table.SalesMap {
	border-collapse: collapse;
	background-color: rgb(255, 255, 255, 1);
	border-color: #bbb;
	border-width: 0px;
	width: 100%;
	cell-spacing: 0;
	border-style: transparent
}
td.SalesMap {
	border-width: 0px;
	border-color: #fff
}
td.SalesMapFilters {
	border-width: 0px;
	border-color: #d1d2d5;
	background-color: #d1d2d5
}
th.SalesMap {
	border-width: 0px;
	border-color: #fff
}
Table.Component {
	background-color: #eee;
	border-color: #999;
	border-width: 2px;
	border-style: solid;
	width: 100%
}
TD.Map {
	background-color: #eee;
	border-style: solid;
	border-width: 1px;
	border-color: #aaa;
	vertical-align: top
}
TD.Component1 {
	border: none;
	border-bottom: solid 1px #469ee1;
	vertical-align: middle;
	width: 6%;
	vertical-align: middle;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	padding: 10px;
}
TD.Component2 {
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 16px;
	padding: 5px;
	width: 20%;
	border-style: solid;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 16px;
	padding: 5px
}
TD.Component3 {
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 16px;
	padding: 5px
}
TD.Component4 {
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	vertical-align: middle;
	font-family: arial;
	font-size: 16px;
	padding: 5px
}
@font-face{font-family:StandardBBPrint;src:url(merriweather/Merriweather-Regular.ttf)}@font-face{font-family:StandardBBWeb;src:url(OpenSans/OpenSans-Regular.ttf)}@font-face{font-family:StandardBBWebLightItalic;src:url(OpenSans/OpenSans-LightItalic.ttf)}div.MenuLink2{width:150px;text-align:Left;font-family:Arial;font-size:14pt;margin:30px 0px 30px 30px
}
div.MenuLink3 {
	width:400px;
	text-align:Left;
	font-family:Arial;
	font-size:12pt;
	margin:20px 0px 20px 40px
}
table,
th,
td {
	font-family:Arial;
	border-width:1px;
	border-style:solid;
	border-collapse:collapse;
	padding:1px;
	background-color:#fff
}
table.PageHeader {
	width:100%;
	border-color:#fff
}
td.Description {
	font-family:Arial;
	font-size:10pt
}
td.PHLeft {
	width:15%;
	border-color:#fff
}
td.PHRight {
	border-color:#fff;
	width:15%
}
td.PHCentre {
	border-color:#fff;
	text-align:center;
	font-size:20pt;
	font-family:Arial
}
td.Useful1 {
	width:300px
}
td.Useful2 {
	font-size:10pt;
	line-height:15pt
}
td.Useful3 {}
td.NR {
	background-color:#d1d2d5
}
div.PHcentre {
	background-color:#fff;
	height:75px;
	line-height:75px;
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:Arial;
	font-size:20pt;
	width:70%;
	float:left
}
div.PHright {
	background-color:#fff;
	text-align:center;
	padding:0px 0px 0px 0px;
	font-family:Arial;
	font-size:14pt;
	font-style:Italic;
	word-wrap:line-break;
	margin:auto;
	font-color:#eee
}
div.Title {
	position: relative;
	margin: 0px 0px 0px 0px;
	background-color: #fff;
	text-align: center;
	padding: 0px 0px 10px 0px;
	color: #469ee1;
	font-size: 25px;
	font-weight: bold;
	line-height: normal;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
TD.TH1 {
	font-size:18px;
	font-family:arial;
	background-color:cccccc;
	valign:middle;
	text-align:right;
	border-color:#aaa;
	border-width:1px;
	border-style:solid;
	width:12%
}
TD.TH2 {
	font-family:Arial;
	font-size:18px;
	background-color:#ccc;
	valign:middle;
	text-align:center;
	border-color:#aaa;
	border-width:1px;
	border-style:solid;
	width:22%;
	opacity:1
}
Table.Map {
	border-collapse:collapse;
	background-color:rgb(255,
	255,
	255,
	1);
	border-color:#bbb;
	border-width:2px;
	width:100%;
	cell-spacing:0
}
Table.Catalogue {
	background-color:#eee;
	border-color:#000;
	border-width:2px;
	border-style:solid;
	table-layout:fixed;
	width:100%
}
Table.CatalogueH {
	display:none;
	background-color:#eee;
	border-color:#000;
	border-width:2px;
	border-style:none;
	table-layout:fixed;
	width:100%;
	margin: 6px 0px 14px 0px;
}
Table.CatalogueH > tbody > tr {
	border: 0px;
	border-bottom: solid 1px #469ee1;
}
Table.CatalogueH > tbody > tr:last-child {
	border: 0px;
}
Table.Component {
	background-color:#eee;
	border-color:#999;
	border-width:2px;
	border-style:solid;
	width:100%
}
TD.Map {
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#aaa;
	vertical-align:top
}
TD.Catalogue1 {
	width: 10%;
	border: none;
	vertical-align: middle;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	color: #595959;
	padding: 9px 8px 9px 12px;
}
TD.Catalogue2 {
	width:4%;
	border-style:solid transparent solid transparent;
	border-width:1px;
	border-color:#bbb;
	vertical-align:middle;
	font-family:arial;
	font-size:16px;
	padding:3px
}
TD.Catalogue3 {
	width:18%;
	border-style:solid transparent solid transparent;
	border-width:1px 0px 1px 0px;
	border-color:#bbb;
	vertical-align:middle;
	font-family:arial;
	font-size:14px;
	padding:5px
}
TD.Catalogue4 {
	width: 82%;
	border: none;
	vertical-align: middle;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 16px;
	color: #000;
}
TD.xCatalogue6 {
	width:30%;
	border-style:solid;
	border-width:1px;
	border-color:#bbb;
	vertical-align:middle;
	font-family:arial;
	font-size:14px;
	padding:5px
}
TD.Component3 {
	width:14%;
	border-style:solid;
	border-width:1px;
	border-color:#bbb;
	vertical-align:middle;
	font-family:arial;
	font-size:16px;
	padding:5px
}
TD.Component4 {
	width:14%;
	border-style:solid;
	border-width:1px;
	border-color:#bbb;
	vertical-align:middle;
	font-family:arial;
	font-size:16px;
	padding:5px
}
TD.Template {
	border-style:solid;
	border-width:1px;
	vertical-align:middle;
	text-align:center;
	padding:5px
}
div.DirH1 {
	background-color:#0c9;
	text-align:left;
	padding:5px 5px 5px 5px;
	margin:20px 0px 0px 0px;
	font-family:arial;
	font-size:20px;
	border-radius:10px 10px 0px 0px
}
div.H2 {
	background-color:#def;
	text-align:left;
	padding:0px 5px 5px 0px;
	margin:20px 0px 0px 0px;
	font-family:arial;
	font-size:18px;
	border-radius:10px 10px 0px 0px
}
div.TitleText {
	position:relative;
	background-color:#def;
	opacity:0.8;
	text-align:left;
	padding:5px;
	border-radius:0px;
	margin:0px 0px 20px 0px;
	font-family:arial;
	font-size:16px;
	padding:10px 5px 10px 5px;
	clear:left
}
div.Table {
	position:relative;
	background-color:#def;
	opacity:1;
	text-align:left;
	padding:5px;
	border-radius:0px;
	margin:10px 10px 20px 0px;
	font-family:arial;
	font-size:16px;
	padding:10px 5px 10px 5px;
	clear:left
}
TD.Audience {
	text-align:center;
	font-size:10pt
}
td.keywords {
	display:none
}
TD.Status {
	text-align:center
}
font.L {
	color:#960
}
font.C {
	color:#0bb000
}
font.A {
	color:#005
}
font.MR {
	color:#089
}
font.Mandatory {
	font-size:10pt;
	font-weight:Bold;
	color:#f33
}
font.Note {
	color:#555;
	font-size:10pt
}
font.Map {
	color:#000;
	font-style:Italic;
	font-size:17px
}
font.Optional {
	font-size:10pt;
	color:#939598
}
font.Recommended {
	font-size:10pt;
	color:#f63
}
div.MenuBox {
	background-color:#fff;
	padding:0px 5px 0px 5px;
	margin:0px 0px 0px 0px;
	border-radius:0px
}
div.MenuLink {
	width:150px;
	text-align:center
}
table.Menu {
	border-width:0px
}
td.Menu {
	border-width:0px
}
table.Header {}div.Warning {
	font-family:Arial;
	font-size:12pt;
	font-weight:Normal;
	width:100%;
	background-color:#def;
	margin:0px auto 0px auto;
	color:#f28;
	text-align:center;
	padding:0px 0px 0px 0px;
	border-radius:0px 0px 10px 10px;
	border-color:#f55;
	border-width:0px;
	border-style:solid
}
td.Positions {
	font-size:10pt
}
td.Rate {
	text-align:Center;
	width:8%
}
td.RateCard {
	text-align:Center;
	width:15%
}
div.Question {
	margin:15px 0px 5px 0px;
	font-weight:Bold
}
div.Answer {}
td.ComponentDescription {
	font-size: 12px;
	font-weight: normal;
	color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	border: none;
	border-bottom: solid 1px #469ee1;
}
td.ComponentRate {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-align: center;
	width: 60px;
	border: none;
	border-bottom: solid 1px #469ee1;
}
td.ComponentWBS {
	font-size:10pt;
	text-align:right;
	width:40px;
	border-color:#bbb;
	text-align:center;
	border-width:0px 0px 1px 0px
}
div.WBSH2 {
	font-size:14pt
}
div.B2 {
	font-size:12pt;
	margin:10px 0px 10px 0px
}
div.B20 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	margin: 0px;
	display: inline;
	color: #595959;
}
td.ComponentCameleon {
	width:100px;
	border-style:solid;
	border-width:1px;
	border-color:#bbb;
	vertical-align:middle;
	font-family:arial;
	font-size:16px;
	padding:5px;
	text-align:center
}
td.ComponentProductID {
	font-size:9pt;
	border-color:#bbb;
	width:140px;
	text-align:left;
	border-width:0px 0px 1px 0px
}
td.MenuBox {
	border-color:#fff;
	padding:0px
}
div.xMenuLink1 {
	font-size:12pt;
	width:200px;
	text-align:left
}
th.scoping {
	border-color:#bbb;
	font-size:12pt;
	width:10%
}
td.scoping {
	border-color:#bbb;
	font-size:10pt;
	text-align:center;
	border-width:0px 0px 1px 0px
}
td.scoping button {
	padding: 4px 13px;
	border: solid 1px #CCC;
	border-radius: 3px;
	background: transparent;
	cursor: pointer;
}
th.scope {
	border-color:#bbb;
	font-size:12pt;
	width:15%
}
td.scope {
	border-color:#bbb;
	font-size:10pt
}
div.MessageBox {
	background-color:#fff;
	width:100%;
	font-size:12pt;
	color:#d22;
	text-align:center;
	font-family:Arial;
	line-height:25px
}
td.CDPDirectory1 {
	width:10%;
	font-weight:bold
}
td.CDPDirectory2 {
	width:90%
}
table.CDPDirectory {
	width:100%;
	margin:0px 0px 20px 0px
}
div.internalonly {
	background-color:#a22;
	font-family:arial;
	font-size:14pt;
	color:#fff;
	padding:10px 0px 10px 0px;
	text-align:center
}
div.NewBusiness {
	width:60%;
	margin:5px auto 30px auto;
	clear:left;
	border-radius:10px;
	background-color:#fff;
	padding:10px
}
div.ExpansionBusiness {
	width:60%;
	margin:5px auto 30px auto;
	border-radius:10px;
	background-color:#fff;
	padding:10px;
	display:none
}
a.SalesMapItem:link {
	color:#fff;
	font-size:13pt;
	text-decoration:none
}
a.SalesMapItem:visited {
	color:#fff;
	font-size:12pt;
	text-decoration:none
}
div.SMNBtext {
	color:#555;
	font-size:11pt;
	text-decoration:none;
	text-align:justify
}
div.SMEBtext {
	color:#555;
	font-size:11pt;
	text-decoration:none;
	text-align:justify
}
button.BusinessTypeOn {
	color:#000;
	background-color:#fff;
	border-color:#fff;
	font-size:14pt;
	margin:5px 0px 0px 0px;
	width:200px
}
button.BusinessTypeOff {
	color:#66a;
	background-color:#fff;
	border-color:#fff;
	font-size:14pt;
	margin:5px 0px 0px 0px;
	width:200px
}
button.SalesMapPlatformFiltersOff {
	color:#66a;
	background-color:#09e6ff;
	border-color:#ff7f41;
	font-size:12pt;
	margin:5px 0px 0px 0px;
	width:110px
}
button.SalesMapPlatformFiltersOn {
	color:#000;
	background-color:#ff7f41;
	border-color:#ff7f41;
	font-size:12pt;
	margin:5px 0px 0px 0px;
	width:110px
}
button.SalesMapPlatformFiltersHidden {
	display:none
}
button.SalesMapPlatformFiltersButtonOn {
	color:#000;
	background-color:#fff;
	border-color:#fff;
	font-size:12pt;
	margin:5px 0px 0px 0px;
	width:160px
}
button.SalesMapPlatformFiltersButtonOff {
	color:#66a;
	background-color:#fff;
	border-color:#fff;
	font-size:12pt;
	margin:5px 0px 0px 0px;
	width:160px
}
button.SalesMapClearPlatformFiltersButtonOff {
	display:none
}
button.SalesMapClearPlatformFiltersButtonOn {
	color:#66a;
	background-color:#fff;
	border-color:#fff;
	font-size:12pt;
	margin:5px 0px 0px 0px;
	width:150px
}
table.clientProposals {
	width:100%
}
td.clientProposals1 {
	width:15%
}
td.clientProposals2 {
	width:20%;
	font-size:12pt
}
td.clientProposals3 {
	width:45%;
	font-size:10pt
}
td.clientProposals4 {
	font-size:10pt;
	width:7%
}
td.clientProposals5 {
	width:5%;
	font-size:10pt
}
td.clientProposals6 {
	width:8%;
	text-align:right;
	font-size:10pt
}
div.AnalyticsH1 {
	margin:20px 0px 0px 0px;
	font-weight:bold
}
a.PHCentre:link {
	color:#000;
	font-size:20pt;
	text-decoration:none
}
a.PHCentre:visited {
	color:#000;
	font-size:20pt;
	text-decoration:none
}
table.DirPhases {
	width:100%
}
th.DirPhases1 {
	color:#0a7;
	border-color:#0c9;
	text-align:left
}
td.DirPhases1 {
	border-color:#0c9
}
th.DirPhases2 {
	color:#0a7;
	border-color:#0c9;
	text-align:left
}
td.DirPhases2 {
	border-color:#0c9
}
div.DirPhases {
	width:45%;
	float:left
}
table.DirRoles {
	width:100%
}
th.DirRoles1 {
	color:#0a7;
	border-color:#0c9;
	text-align:left
}
td.DirRoles1 {
	border-color:#0c9
}
th.DirRoles2 {
	color:#0a7;
	border-color:#0c9;
	text-align:left
}
td.DirRoles2 {
	border-color:#0c9
}
div.DirRoles {
	width:45%;
	float:right
}
td.CDUseful1 {
	width:20%
}
table.cddocs {
	width:100%
}
td.DirKeyInfoTitle {
	color:#0c9;
	border-color:#0c9
}
td.DirKeyInfoValue {
	color:#ddd;
	border-color:#0c9
}
button.ScopeButton {
	width:100%
}
div.ScopeButton {
	margin:2px 0px 0px 0px;
	width:100%
}